<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/base.js' %}"></script>

    {% endblock %}
</body>
</html>