<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>

    <!-- Load the static template tag -->
    {% load static %}

    <!-- Link the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Send Email</h1>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.email_address.id_for_label }}">Email address:</label>
        {{ form.email_address }}
        <br>
        <label for="{{ form.subject.id_for_label }}">Subject:</label>
        {{ form.subject }}
        <br>
    
        <label for="{{ form.body.id_for_label }}">Body:</label>
        {{ form.body }}
        <br>

        <button type="submit">Send</button>
    </form>

    <script>
        // Additional JavaScript code can be added here if needed
    </script>
</body>
</html>
